body {
    font-family: Arial, sans-serif; 
  }
  
  .a {
    text-align: center; 
    margin-top: 250px; 
  }
  
  .giris-form {
    width: 400px; 
    margin: 0 auto; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
  }
  
  .b {
    margin-bottom: 15px; 
  }
  
  label {
    display: block; 
    font-weight: bold; 
  }
  
  input[type="text"],
  input[type="password"] {
    width: calc(100% - 10px); 
    padding: 8px; 
    margin-top: 7px; 
    border: 1px solid #ccc; 
    border-radius: 3px; 
  }
  
  .giris-butonu {
    width: 100%; 
    padding: 10px; 
    font-size: 16px;
    background-color: #1d201d; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
  }
  
  .giris-butonu:hover {
    background-color: #3f413f; 
  }
  